/* App CSS */


/* Font and text styling */
.App {
  text-align: center;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Font exceptions */

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

/* The hero image */
.hero-image {
  background-image:linear-gradient(rgba(37, 36, 36, 0.5), rgba(57, 55, 55, 0.5)), url('../../../public//images/hero-bg.jpg');

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

/* About section */
/* All content align to left and all display is flex */
.about {
  text-align: left;
  margin: auto;
  margin-top: 1%;
  padding-top: 2%;
  width: 90%;
  display: flex;

}
  /* About me image with a bit of padding */
  .about-me-image {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  /* About me text with a bit of padding */
  .about-me-text {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  /* Skills section */
  /* Get the labels closer to the progress bars */
  .skills p {
    margin: 0;
  }

  /* Space between skills */
  .skills {
    margin-top: 5%;
  }


/* Footer */

  /* Footer content is centered */
  .footerContent {
   display: flex;
   justify-content: space-evenly;
  }

  /* Columns have their text justified and aligned to the left */
  /* Columns are centered on the footer */
  .col {
    text-align: left;
    margin-left: 10%;
  }


  /*Liens utiles in white and no underline*/
  .footer-links li a {
    color: white;
    text-decoration: none;
  }

  /*Social links in grey and spaced a little*/
  svg{
    color: grey;
    margin-right: 10px;
  }

/* Modal styling */

/* Modal container is flex and elements are side to side */
.modal-body {
  display: flex;
  align-items: center;
}





  






