/* App CSS */


/* Font and text styling */
.App {
  text-align: center;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Font exceptions */

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

/* The hero image */
.hero-image {
  background-image:linear-gradient(rgba(37, 36, 36, 0.5), rgba(57, 55, 55, 0.5)), url('../../../public//images/hero-bg.jpg');

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

/* About section */

  /* Skills section */
  /* Get the labels closer to the progress bars */
  .skills p {
    margin: 0;
  }

  /* Space between skills */
  .skills {
    margin-top: 5%;
  }


/* Footer */


  /* Columns have their text justified and aligned to the left */
  /* Columns are centered on the footer */
  .col {
    text-align: left;
    margin-left: 10%;
  }


  /*Liens utiles in white and no underline*/
  .footer-links li a {
    color: white;
    text-decoration: none;
  }

  
  /* On mobile content wraps in one column and  */
  @media (max-width: 768px) {
    .footerContent {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  /* On hover, social link icons get whiter */
  .social-links a svg:hover {
    color: white !important;
  }

  /* On hover, useful links must get bolder */
  .footer-links li a:hover {
    font-weight: bold;
  }



/* Portfolio section */

  /* Cards background color changed to #efefef and shadow around the cards on hover, */
  .card:hover {
    background-color: #efefef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

  /* Cards button's color lightened on hover */
  .portfolio-button:hover {
    background-color: #407ff5;
  }




/* Contact section */

  /* Textarea gets bigger */
  textarea {
    height: 250px;
  }







  






