.App {
  text-align: center;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* The hero image */
.hero-image {
  background-image:linear-gradient(rgba(37, 36, 36, 0.5), rgba(57, 55, 55, 0.5)), url('../../../public//images/hero-bg.jpg');

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
